	/* <!-- */
	/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background:#fff;
		min-width:600px;    	/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-family:Arial;
		font-size:12px;
	}
	
	input, textarea {
		margin:0px 5px 5px 5px;
		width:200px;
		border:3px solid #cccccc;
		background-color:#efefef;
		color:black;
		font-size:12px;
		font: 12px "Courier New", Courier, Sans-Serif;
	}
	
	/* Header styles */
	#header {
		clear:both;
		float:left;
		width:100%;
	}
	#header {
		/*border-bottom:1px solid #000;*/
	}

	/* column container */
	.colmask {
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
	}
	/* 2 Column (double page) settings */
	.doublepage {
		background:#fff;		/* right column background colour */
	}
	.doublepage .colleft {
		right:50%;			/* right column width */
		background:#fff;		/* left column background colour */
	}
	.doublepage .col1 {
		width:46%;			/* left column content width (column width minus left and right padding) */
		left:52%;			/* right column width plus left column left padding */
	}
	.doublepage .col2 {
		width:46%;			/* right column content width (column width minus left and right padding) */
		left:56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		/*border-top:1px solid #000;*/
	}
	#footer p {
		padding:10px;
		margin:0;
	}
	/* --> */