<head> 
<title>Bijna 2009...</title> 
<link rel="stylesheet" href="zv/css/style.css" type="text/css"> 
<script type="text/javascript" src="2009/js/countdown.js"></script> 
<script type="text/javascript" src="2009/js/prototype.js"></script> 

<!--[if lt IE 7]>
<script language="JavaScript">
function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
{
   var arVersion = navigator.appVersion.split("MSIE")
   var version = parseFloat(arVersion[1])
   if ((version >= 5.5) && (document.body.filters)) 
   {
      for(var i=0; i<document.images.length; i++)
      {
         var img = document.images[i]
         var imgName = img.src.toUpperCase()
         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
         {
            var imgID = (img.id) ? "id='" + img.id + "' " : ""
            var imgClass = (img.className) ? "class='" + img.className + "' " : ""
            var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' "
            var imgStyle = "display:inline-block;" + img.style.cssText 
            if (img.align == "left") imgStyle = "float:left;" + imgStyle
            if (img.align == "right") imgStyle = "float:right;" + imgStyle
            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
            var strNewHTML = "<span " + imgID + imgClass + imgTitle
            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>" 
            img.outerHTML = strNewHTML
            i = i-1
         }
      }
   }    
}
window.attachEvent("onload", correctPNG);
</script>
<![endif]--> 

<style type="text/css">
	body { font: 11px 'Courier New', Courier, Sans-Serif; color:#AAAAAA; margin:0px; padding:0px; }
	td { font: 11px 'Courier New', Courier, Sans-Serif; color:#AAAAAA;vertical-align:top; padding-right:5px; }
	table { margin-right:20px; }
	.fx {width: 180px;}
	.dy {/*border-bottom:1px solid #666666;*/}
	.cr {width: 250px;}
	.pr {
		float:left;
		position:relative;
		top:-100px;
		padding:20px 10px 20px 20px;
		margin-right:20px;
		width:250px;
		/*background-image: url(2009/img/form_bg.gif);*/
		filter:alpha(opacity=55);
		-moz-opacity:.75;
		opacity:.75;
		background-color:#333333;		
	}
	.st {text-decoration: line-through;}
	input, textarea {
		margin:5px;
		width:200px;
		border:1px solid #cccccc;
		background-color:#333333;
		color:white;
		font-size:11px;
		font: 11px "Courier New", Courier, Sans-Serif;
	}
	#logo {background-image:url(2009/img/bijna2009_4.jpg)}
	.ja {color:#00CC33;}
	.nee {color:#FF3300;}
</style>

<body style="background-color:#000000; "> 

<center>
	
	<!-- 
	<div style="background-color:#333333;">
	{% for invitee in currentInvitees %}
		{{invitee}}
	{% endfor %}	
	</div>
	 -->
	<form 
		style="padding-top:0px;maring-top:0px;"
		action="" 
		method="get" 
		id="redirect" 
		name="redirect" 
		onsubmit="location.href='/' + $('redirectName').value;return false;">	
	<div style="width:500px;">	
		<div 
			id="logo" 
			style="float:left;position:relative;margin:0px;padding:0px;width:500px;height:500px;text-align:center;">
			<div id="diffie" 
				style="filter:alpha(opacity=55);-moz-opacity:.55;opacity:.55;position:relative;background-color:#333333;width:460px;margin:0px;top:323px;padding:20px;">
				<div id="cd"></div>
				<div>
					{% if registered %}
						<span style="font-size:11px;font-family:'Courier new',Arial;color:#FFFF33;">{{ hey }}, tot 31 december!</span>							
					{% else %}
						{% if name %} 
							<a id="h" href="javascript:void(0);" style="color:#FFFF33;text-decoration:underline;" 
								onclick="$('shizzle').style.display = '';$('h').style.textDecoration='';">
									{{ hey }}, zin in een feestje?</a>
						{% else %}
							<a href="javascript:$('onbekend').display='';">
						    Zin in een feestje?</a>
						{% endif %}
					{% endif %}
					</a>
					{% if name %} 
						(<a 
							href="javascript:void(0);" 
							onclick=";$('onbekend').style.display = '';$('diffie').style.padding='10px 10px 0px 10px'" 
							style="color:#FFFF33;text-decoration:underline;font-size:10px;font-family:Arial, Helvetica, sans-serif;"
							{% ifequal inviteeAmount 1 %}
								>ik ben {{ name }} niet</a>)
							{% else %}
								>ik sta er niet tussen</a>)
							{% endifequal%}
					{% endif %}
					<div id="onbekend" style="display:none;">						
							Wat is je naam?
							<input name="redirectName" id="redirectName" value="" style="width:125px;">
							<a 
								style="color:#FFFF33;text-decoration:underline;"
								href="javascript:void(0);"
								onclick="location.href='/' + $('redirectName').value;">Go!</a>						
					</div>
					
				</div>
			</div>
		</div>			
	</div>	
	</form>
		
	
	<div style="{% if registered %}{% else %}display:none;{% endif %}width:580px;" id="shizzle">
	
			<div class="pr" style="margin-bottom:10px;">			
				<table cellpadding="0" cellspacing="0" border="0" width="100%">					
					<tr>
						<td colspan="2" class="dy">
							Programma 31-12<br/>
							Brabantse Nachten Zijn Lang</td>
						</td>
					</tr>					
					<tr><td colspan="4">&nbsp;</td></tr>					
					<tr>
						<td>
							19:30<br/>
							&nbsp;&nbsp;|<br/>
						</td>
						<td class="fx">
							<br/>
							Arrive & cocktail van Col<br>													
						</td>
					</tr>
					<tr>
						<td>
							20:00<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
						<td>
							<br/>
							Brabantse Nachten Zijn Lang,
							Diner met intermezzo van 
							Col, Hans & Ro
						</td>
					</tr> 
					<tr>
						<td>
							23:30<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
						<td class="fx">
							<br/>
							Illigaal vuurwerk uitrollen, Champagne<br/>
							ploppen</td>
					</tr>	
					<tr>
						<td>
							00:00<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;&nbsp;|<br/>
							&nbsp;...</td>
						<td class="fx">
							<br/>
							Fireworks & gluewine-streetbbq & fires</td>
					</tr>			
			</table>
			</div>
	
			<div class="pr" style="margin-right:0px;margin-bottom:10px;float:right;">			
				<table cellpadding="0" cellspacing="0" border="0" width="100%">	
					<tr>
						<td class="dy">
							Locatie<br/>
							Willem de Zwijgerstraat 57, Eindhoven						
						</td>
					</tr>			
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td class="dy"  style="width:200px;border:none;">
						Dresscode<br/>
						op sjiek, lekkere jurk, cocktail dress, Daniel Craig, crevette blanche, tenue de ville...</td>
					</tr>	
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td class="dy"  style="width:200px;border:none;">
						Kosten<br/>
						Niet meer dan &euro; 75 p.p.</td>
					</tr>	
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td class="dy"  style="width:200px;border:none;">
						Vragen<br/>
						Email <a href="mailto:hetis@bijna2009.com" style="color:#FFFF33;">HetIs@Bijna2009.com</td>
					</tr>	
					{% ifequal kids 1%}
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td class="dy"  style="width:200px;border:none;">
						Kids?<br/>
						Zuidvast Babyopvang B.V. zal meerdere honeymoon suites beschikbaar hebben voor uw eventuele 
						nakomelingen en zal de volledige aansprakelijkheid en verzorging op zich nemen.</td>
					</tr>					
					{% endifequal %}
				</table>
			</div>	
			
			<div class="pr" style="margin-right:0px;text-align:left;float:right;clear:right;">			
				<table cellpadding="0" cellspacing="0" border="0" width="100%">	
					<form action="/signup" method="post" id="signupForm" name="signupForm">	
					<tr>
						<tdclass="dy">Ben jij erbij?</td>
					</tr>					
					{% ifequal registered 'ja' %}
					<tr>
						<td>
						Ja, ik ben erbij en ga akkoord met de algemene voorwaarden zoals deze te lezen zijn in deze disclaimer. 
							Ik ben zowel hoofdelijk als persoonlijk aansprakelijk voor alle verbintenissen waarvoor ik 
							zojuist akkoord heb gegeven, zowel financi&euml;el als spiritueel. Op dit moment zijn al mijn 
							lopende rekenenigen volledig verpand aan de organisatie van Bijna2009.com en ter 
							zekerheidstelling van eventuele algemene schulden stel ik mijn organen, die van mijn partner 
							en eventuele kinderen beschikbaar.
						</td>
					</td>
					{% else %}
					<tr>
						<td>
						Nee, ben er niet bij...
						</td>
					</td>
					{% endifequal %}
					{% if registered %}
					{% else %}		
					<tr>
						<td><b>
						<a
							class="nee" 
							style="float:right;font-family:Arial;font-size:16px;text-decoration:underline;padding-right:0px;margin-right:0px;" 
							href="javascript:void(0);" 
							onclick="$('attend').value='nee';$('signupFormDiv').style.display='';$('n').style.display='';$('j').style.display='none';" id="nee">
							Nee, helaas...</a>	
						<a 
							class="ja"
							style="float:left;font-family:Arial;font-size:16px;text-decoration:underline;" 
							href="javascript:void(0);" 
							onclick="$('attend').value='ja';$('signupFormDiv').style.display='';$('n').style.display='none';$('j').style.display='';">
							Ja, ben erbij...</a></b>
												
							<div style="display:none;" id="disclaimer">
							en ga akkoord met de algemene voorwaarden zoals deze te lezen zijn in deze disclaimer. 
							Ik ben zowel hoofdelijk als persoonlijk aansprakelijk voor alle verbintenissen waarvoor ik 
							zojuist akkoord heb gegeven, zowel financi&euml;el als spiritueel. Op dit moment zijn al mijn 
							lopende rekenenigen volledig verpand aan de organisatie van Bijna2009.com en ter 
							zekerheidstelling van eventuele algemene schulden stel ik mijn organen, die van mijn partner 
							en eventuele kinderen beschikbaar.<br/>
						    </div>	
						    
						    <br clear="all"/>
							<div id="signupFormDiv" style="display:none;padding:10px;">
							      	<div id="j" style="display:none;">Gezellig...</div>
									<div id="n" style="display:none;">Jammer...</div>
							      	Naam<br/>
							      	<input name="name" id="name" value="{{name}}">
							      	<input name="attend" id="attend" type="hidden" value="ja">
							      	Opmerking, wat te melden, enthousiast?<br/>
							      	<textarea 
							      		style="" 
							      		name="content" 
							      		rows="3"></textarea>
							     <a                          
							      	href="javascript:document.signupForm.submit();" 
							      	style="float:right;color:#ad9e29;text-decoration:underline;" 
							      	onclick="$('nee').style.display='none';$('disclaimer').style.display='';">
							      	Verstuur
							     </a>							    
						    </div>
						</td>					
					</tr>
					{% endif %}										 			
					</form>						
				</table>						
			</div>		

			{% if registered %}
			<div class="pr" style="margin-right:0px;text-align:left;clear:left;">			
				<table cellpadding="0" cellspacing="0" border="0" width="100%">	
					<tr>
						<td colspan="2" class="dy">
							{% for invite in invites%}							
								{%ifequal invite.attend 'ja'%}
								<div class="{{ invite.attend }}" style="padding-top:5px;text-align:left;background:transparent url(2009/img/ja_quote.gif) no-repeat scroll left top;padding-left:25px;">
								{%if invite.content%}{{ invite.content|escape }}{% else %}Geen commentaar{% endif %}&quot;<br/>
								- {{invite.name|escape}}, is er bij.
								</div>
								{% else %}
								<div class="{{ invite.attend }}" style="padding-top:5px;text-align:right;background:transparent url(2009/img/nee_quote.gif) no-repeat scroll right top;padding-right:25px;">
								&quot;{%if invite.content%}{{ invite.content|escape }}{% else %}Geen commentaar{% endif %}<br/>
								- {{invite.name|escape}}, is er niet bij.
								</div>
								{%endifequal%}
								<br/>
						    {% endfor %}						
						</td>
					</tr>
				</table>			
			</div>
			{% endif %}
	</div>		
	
	
	<!-- 
	
 	{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
	
	<br/>
	hier moet dus test komen: {{ tester }}<br/>

    <a href="{{ url }}">{{ url_linktext }}</a>	
	
	 -->


</center>

</body>
</html>
